<h1>Recompanies#index</h1>
<p>Find me in app/views/recompanies/index.html.erb</p>

<p id="notice"><%= notice %></p>

<h1>Inmobiliarias</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recompanies.each do |recompany| %>
      <tr>
        <td><%= recompany.name %></td>
        <td><%= link_to 'Show', recompany %></td>

      </tr>
    <% end %>
  </tbody>
</table>