<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>

<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
<%#       <td><%= link_to 'Show', company %></td>

      </tr>
    <% end %>
  </tbody>
</table>