
<div class="container-fluid footer">
  <div class="container">


    <div class="row">
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Construcción</h2>
        <p>Liderando el progreso de Chile</p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Mapa del sitio</h2>
        <ul class="list-unstyled"> <a href="<%= root_path %>" class="text-dark">Home</a> <br> <a href="<%= projects_path %>" class="text-dark">Proyectos</a> <br> <a href="<%= recompanies_path %>" class="text-dark">Inmobiliarias</a> <br> <a href="<%= companies_path %>" class="text-dark">Empresas</a> </ul>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Contacto</h2>
        <p class="text-dark">
            <i class="fa d-inline mr-3 text-muted fa-phone"></i>+56-246681179 </p>
        <p class="text-dark">
            <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>info@construccion.com </p>
        <p class="text-dark">
            <i class="fa d-inline mr-3 fa-map-marker text-muted"></i>Av. Nueva Providencia 2060. R.M. </p>
      </div>
      <div class="p-4 col-md-3">
        <h2 class="mb-4">Subscríbete</h2>
        <form>
          <fieldset class="form-group"> <label for="exampleInputEmail1">Obtén nuestro newsletter</label> <input type="email" class="form-control" placeholder="email"> </fieldset> <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
